[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whisper = {editable = true, git = "https://github.com/openai/whisper.git"}
click = "*"
python-magic = "*"
ffmpeg-python = "*"
pick = "*"
speechrecognition = "*"
soundfile = "*"
torchaudio = "*"
torch = "*"
transformers = "*"
pocketsphinx = "*"

[dev-packages]

[requires]
python_version = "3.10"
